{extends file="../main.html"}
{block name="title"}用户管理{/block}
{block name="cssjs"}
<script type="text/javascript" src="/js/jquery.cityselect.js?v={#cssjs_version#}"></script>
{/block}
{block name="body"}
<input type="hidden" id="module" nav="master" js="master/add"/>
<!-- Right side column. Contains the navbar and content of the page -->
<aside class="right-side">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            添加用户
            <small>Master</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-folder"></i> 用户管理</a></li>
            <li class="active">添加用户</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-13">
                <div class="box box-solid">
                    <div class="box-body">
                        <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
                        <div class="panel box box-primary">
                            <!-- <div class="box-header">
                                <h3 class="box-title">Bordered Table</h3>
                            </div> --><!-- /.box-header -->
                            <div class="box-body">
                                <form action="/master/add/" method="get" class="data-form">
                                <input type="hidden" name="opt" value="add">
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <th style="width:20%;"><label for="InputMastername">用户名</label></th>
                                            <td><input type="text" class="form-control" name="mastername" id="InputMastername" placeholder="邮箱用户名"></td>
                                        </tr>
                                        <tr>
                                            <th><label for="InputMasterpwd">密码</label></th>
                                            <td><input type="password" class="form-control" name="masterpwd" id="InputMasterpwd" placeholder="若不填写，则默认置为初始密码：abc.123"></td>
                                        </tr>
                                        <tr>
                                            <th><label for="InputFullname">真实姓名</label></th>
                                            <td><input type="text" class="form-control" name="fullname" id="InputFullname" placeholder=""></td>
                                        </tr>
                                        <tr>
                                            <th><label for="InputFullname">性别</label></th>
                                            <td>
                                                {html_radios options=$rbac_master_sex selected=$get['master_sex'] name="master_sex" labels=true separator="&nbsp;&nbsp;&nbsp;&nbsp;"}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th><label for="InputMobile">手机号</label></th>
                                            <td><input type="text" class="form-control" name="mobile" id="InputMobile" placeholder=""></td>
                                        </tr>
                                        <tr>
                                            <th><label for="InputEmail">邮箱</label></th>
                                            <td><input type="text" class="form-control" name="email" id="InputEmail" placeholder="xxx@163.com"></td>
                                        </tr>
                                        <tr>
                                            <th><label for="InputDeptname">所属部门</label></th>
                                            <td><input type="text" class="form-control" name="deptname" id="InputDeptname" placeholder=""></td>
                                        </tr>
                                        <!-- <tr>
                                            <th><label>所属城市</label></th>
                                            <td id="city">
                                                <select class="prov" name="provinceid" style="width:120px;"></select>
                                                <select class="city" name="cityid" style="width:120px;margin-left:10px;" disabled="disabled"></select>
                                            </td>
                                        </tr> -->
                                        <tr>
                                            <th><label for="">角色</label></th>
                                            <td>
                                                {foreach $role as $v}
                                                <label>
                                                    <input type="checkbox" class="minimal" name="roleid[]" value="{$v.roleid}" />
                                                    {$v.rolename}
                                                </label><br>
                                                {/foreach}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th colspan="2">
                                                <div style="text-align:center;">
                                                    <button type="button" class="btn btn-primary add-edit">添加</button>
                                                    <button class="btn btn-default cancel" style="margin-left:20px;">取消</button>
                                                </div>
                                            </th>
                                        </tr>
                                    </tbody>
                                </table>
                                </form>
                            </div><!-- /.box-body -->
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div>
    </section><!-- /.content -->
</aside>
{/block}