{extends file="../main.html"}
{block name="title"}系统管理{/block}
{block name="cssjs"}

{/block}
{block name="body"}
<!-- Right side column. Contains the navbar and content of the page -->
<aside class="right-side">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            功能权限
            <small>Action</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-folder"></i> 系统管理</a></li>
            <li class="active">功能权限</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-13">
                <div class="box box-solid">
                    <!-- <div class="box-header">
                        <h3 class="box-title">Collapsible Accordion</h3>
                    </div> --><!-- /.box-header -->
                    <div class="box-body">
                        <div class="callout callout-info">
                            <div class="row">
                                <form action="/action/view/" method="get" class="search-form">
                                    <div class="col-sm-3">
                                        <label>类名：</label>
                                        <input id="classid" type="text" name="classid" value="{$get['classid']}">
                                    </div>
                                    <div class="col-sm-3">
                                        <label>方法名：</label>
                                        <input id="functionid" type="text" name="functionid" value="{$get['functionid']}">
                                    </div>
                                    <input type="submit" class="btn btn-success btn-sm" style="line-height:1;" value="查询">
                                </form>
                            </div>
                        </div>
                        <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
                        <div class="panel box box-primary">
                            <div class="box-header">
                                <div class="box-tools pull-right">
                                    {if $action['add']}
                                    <a href="/action/add/"><div class="label bg-aqua">添加权限</div></a>
                                    {/if}
                                </div>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="box-body table-responsive">
                                    <table id="content-list" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>权限ID</th>
                                                <th>类名</th>
                                                <th>方法名</th>
                                                <th>权限名称</th>
                                                <th>父级类名</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {foreach $action_list as $a}
                                            <tr>
                                                <td>{$a['actionid']}</td>
                                                <td>{$a['classid']}</td>
                                                <td>{$a['functionid']}</td>
                                                <td>{$a['actionname']}</td>
                                                <td>{$a['ismenu']}</td>
                                                <td>
                                                    {if $action['edit']}
                                                    <a href="/action/edit/?actionid={$a['actionid']}"><span class="badge bg-light-blue">编辑</span></a>
                                                    {/if}
                                                    {if $action['delete']}
                                                    <a href="/action/delete/?actionid={$a['actionid']}" class="delete"><span class="badge bg-yellow">删除</span></a>
                                                    {/if}
                                                </td>
                                            </tr>
                                            {foreachelse}
                                            <tr>
                                                <td colspan="6" style="text-align:center;">暂无</td>
                                            </tr>
                                            {/foreach}
                                        </tbody>
                                    </table>
                                </div><!-- /.box-body -->
                                {$links}
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div>
    </section><!-- /.content -->
</aside>
{/block}